/*
 * @Author: yuze.xia 
 * @Date: 2021-05-20 16:23:48 
 * @Last Modified by: yuze.xia
 * @Last Modified time: 2021-05-20 16:49:58
 */
.btn-send-goods {
  margin-left: 15px;
}
.detail-img {
  display: block;
  width: 120px;
  height: 120px;
}
